src/main/mule/cicd-worldtimezone-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7f15cafa-80b2-47e4-8e55-e101c198577d" basePath="/timezone">
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="7e3001f0-98b0-4199-bd7a-4e0d792b3847" basePath="/api/timezone" >
		<http:request-connection host="worltimeapi.org" />
	</http:request-config>
	<flow name="cicd-worldtimezone-demo-apiFlow" doc:id="19f5b3fe-2ce0-42ea-9a52-d3ba31cd0ce7" >
		<http:listener doc:name="Listener" doc:id="9356423b-7bfe-4e1f-9b63-684a7af59050" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="fd37533d-c238-4f72-a91b-68dbaa30859f" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="517b15f6-b9ff-4c9c-b2b7-f2a770cbeee4" message="#[payload]"/>
	</flow>
</mule>
